@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn/Vollkorn-Semibold.eot');
    src:
        url('../fonts/Vollkorn/Vollkorn-Semibold.eot?#font-spider') format('embedded-opentype'),
        url('../fonts/Vollkorn/Vollkorn-Semibold.woff') format('woff'),
        url('../fonts/Vollkorn/Vollkorn-Semibold.ttf') format('truetype'),
        url('../fonts/Vollkorn/Vollkorn-Semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    transition: all ease-out .2s;
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    z-index: 2
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Vollkorn, serif;
    font-size: 20px
}

a {
    text-decoration: none
}

.top-container {
    width: 100%;
    position: absolute;
    top: 40%
}

@media screen and (max-width:568px) {
    .top-container {
        width: 100%;
        position: absolute;
        top: 30%
    }
}

.row-container {
    display: table;
    margin: auto
}

.menu-countainer {
    position: relative;
    display: inline-block;
    height: 25px
}

.menu-item {
    height: 1px;
    line-height: 2;
    display: block;
    position: relative;
    float: left;
    margin: 0 20px;
    padding: 0;
    color: #000;
}
